<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">

    <encoder>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n
        </Pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>TRACE</level>
    </filter>
</appender>

<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>
            /Users/romanleontev/Documents/GitHub/java_lab_2020_semester3/05. WebApp/src/main/resources/logs/%d{yyyy-MM-dd}.log
        </FileNamePattern>
    </rollingPolicy>

    <encoder>
        <Pattern>%d{HH:mm:ss} %-5level %logger{35} - %msg %n</Pattern>
    </encoder>
</appender>

<logger name="ru.itis.javalab.filters.LoggerFilter" level="info" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="FILE"/>
</logger>

<root>
    <level value="INFO"/>
    <appender-ref ref="FILE"/>
</root>
</configuration>